{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
          "jsx": true
        },
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {
        "module": true,
    },
    "plugins": [
      "react"
    ],
    "extends": [
      "plugin:react/recommended"
    ],
    "rules": {
        "comma-dangle": [2, "never"],
        "no-cond-assign": [2, "except-parens"],
        "no-console": 1,
        "no-constant-condition": 2,
        "no-control-regex": 2,
        "no-debugger": 2,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-empty": 1,
        "no-empty-character-class": 2,
        "no-ex-assign": 2,
        "no-extra-boolean-cast": 2,
        "no-extra-parens": [2, "functions"],
        "no-extra-semi": 2,
        "no-func-assign": 2,
        "no-invalid-regexp": 2,
        "no-irregular-whitespace": 2,
        "no-obj-calls": 2,
        "no-regex-spaces": 1,
        "no-sparse-arrays": 2,
        "no-unexpected-multiline": 2,
        "no-unreachable": 2,
        "no-unsafe-negation": 2,
        "use-isnan": 2,
        "valid-typeof": 2,

        "accessor-pairs": [2, { "getWithoutSet":true }],
        "block-scoped-var": 2,
        "curly": [2, "all"],
        "dot-location": [2, "property"],
        "eqeqeq": [2, "smart"],
        "no-alert": 2,
        "no-else-return": 2,
        "no-eval": 2,
        "no-extra-bind": 2,
        "no-fallthrough": 2,
        "no-floating-decimal": 2,
        "no-global-assign": 2,
        "no-implicit-globals": 2,
        "no-implied-eval": 2,
        "no-labels": 2,
        "no-multi-spaces": 2,
        "no-multi-str": 2,
        "no-new-func": 2,
        "no-octal-escape": 2,
        "no-octal": 2,
        "no-redeclare": 2,
        "no-return-assign": [2, "except-parens"],
        "no-script-url": 2,
        "no-self-assign": 2,
        "no-throw-literal": 2,
        "no-unused-labels": 2,
        "no-useless-call": 2,
        "no-useless-concat": 2,
        "no-void": 2,
        "no-with": 2,
        "radix": 2,
        "wrap-iife": [2, "inside"],
        "yoda": [2, "never", {}],

        "strict": [2,"function"],

        "no-delete-var": 2,
        "no-shadow": [2, { "builtinGlobals": false, "hoist": "functions", "allow": [] }],
        "no-shadow-restricted-names": 2,
        "no-undef": 2,
        "no-undef-init": 2,
        "no-unused-vars": 2,
        "no-use-before-define": [2, "nofunc"],

        "array-bracket-spacing": [2, "never"],
        "block-spacing": [2, "always"],
        "brace-style": [2, "stroustrup", { "allowSingleLine": false }],
        "comma-spacing": [2, { "before": false, "after": true }],
        "comma-style": [2, "last"],
        "computed-property-spacing": [2, "never"],
        "eol-last": 2,
        "func-call-spacing": [2, "never"],
        "id-match": [2, "^([A-Z])|([A-Z][a-z])|([a-z]+(([A-Z][a-z]+)|(__([A-Z][a-z]+)))*)$"],
        "indent": [2, 4, { "SwitchCase": 1 }],
        "key-spacing": [2, { "beforeColon": false, "afterColon": true }],
        "keyword-spacing": 2,
        "linebreak-style": [2, "unix"],
        "new-cap": 2,
        "new-parens": 2,
        "newline-after-var": [2, "always"],
        "newline-before-return": 2,
        "no-lonely-if": 2,
        "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
        "no-multiple-empty-lines": [2, { "max": 2 }],
        "no-nested-ternary": 2,
        "no-tabs": 1,
        "no-trailing-spaces": [2, { "skipBlankLines": false }],
        "no-whitespace-before-property": 2,
        "quote-props": [2, "as-needed", { "unnecessary": false }],
        "quotes": [1, "single"],
        "semi": [2, "always"],
        "semi-spacing": [2, { "before": false, "after": true }],
        "space-before-blocks": [2, "always"],
        "space-before-function-paren": [2, "never"],
        "space-infix-ops": 2,
        "wrap-regex": 2,

        "react/jsx-uses-vars": 2
    }
}
